In [23]:
import gmaps
import pandas as pd

In [28]:
city_df = pd.read_csv('../Weather Py/city_data.csv')
city_df=city_df.dropna()
city_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Busselton,69.08,43,36,14.34,-33.65,115.33
1,1,Cascavel,78.80,57,20,2.24,-24.96,-53.46
2,2,Hobart,53.37,47,40,11.41,-42.88,147.33
3,3,Cape Town,61.43,88,75,2.24,-33.93,18.42
4,4,East London,75.34,77,2,1.25,-33.02,27.91

In [29]:

# Store latitude and longitude in locations
locations = city_df[["Latitude", "Longitude"]]

# convert to float
humidity = city_df["Humidity"].astype(float)

In [30]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))